<!-- about.component.html -->
<div class="banner">
  <div class="container">
    <div class="container-image" >
      
      <b href=""><img src="../../assets/img/logo.png" alt="hlo" data-aos="side-right"></b>
    </div>
      <h1>About Us</h1>
      <p>Welcome to our website! We are a team of passionate individuals dedicated to providing high-quality products and services to our customers.</p>
      
      <h2>Our Mission</h2>
      <p>Our website help to improve our StartUp companies step by step forward.And also it provides the FREELANCEING to the users. .</p>
      
      <h2>Our Values</h2>
      <ul>
        <li>Customer satisfaction</li>
        <li>Integrity and honesty</li>
        <li>Continuous improvement</li>
        <li>Trustable & Honesty</li>
      </ul>
    <h2>Terms and Conditions</h2>
    <ul>
      <li>User Responsibilities</li>
      <li>Eligibility</li>
      <li>User Account Creation</li>
      <li>Privacy Policy</li>
      <li>Liability and Disclaimers</li>
      <li>Communication and Transactions</li>
      <li>Termination and Modification</li>
    </ul>


    <div class="a">
      <h2>Meet the Team</h2>
      <div class="team-members">
        <div class="member">
          <h4>A.Karthik</h4>  
        </div>
        <div class="member">
          <h4>J.Annie Christi</h4>
        </div>
        <div class="member">
          <h4>V. Rithvik Varma</h4>
        </div>
        <div class="member">
          <h4>V.Rithvik Varma</h4>
        </div>
        <div class="member">
          <h4>Hemanth</h4>
        </div>
      </div>
      </div>
    </div>
  </div>