
<div style="position: relative;">
    <img src="../../assets/img/contact.png" alt="img" style="max-width: 100%; height: 70rem;">
    <div style="position: absolute; top: 0; left: 0;">
      <img src="../../assets/img/logo.png" routerLink="/about" class="x" alt=""> 
      <p>Team Members</p>
      <h1>Click Us...and Contact Us</h1>>
      <button class="a" (click)="onClick()"><span>A.Karthik</span></button>
      <button class="b" (click)="onClick()"><span>J.Annie</span></button>
      <button class="c" (click)="onClick()"><span>V.Rithvik</span></button>
      <button class="d" (click)="onClick()"><span>P.Hemanth</span></button>
      <button class="e" (click)="onClick()"><span>G.Nithin</span></button>
    </div>