<!-- contact.component.html -->
<div class="banner">
    <h1>Contact Us</h1>
      <marquee behavior="scroll" direction="left" scrollamount="5" style="color: red;">
        Feel free to get in touch with us using the contact information below or by filling out the contact form.
    </marquee>
    <div class="container">
      
      <div class="contact-info">
        <h1>Contact Information</h1>
        <p><strong>Address:</strong>  Rajanagaram, Rajamundry, India</p>
        <h5>KARTHIK.A</h5>
        <p><strong>Email:</strong><a href="mailto:allakarthikchowdary@gmail.com">allakarthikchowdary@gmail.com</a></p>
        <p><strong>Phone:</strong><a href="tel:+919346439607"> +91-9346439607</a></p>
        <h5>ANNIE CHRISTI.J</h5>
        <p><strong>Email:</strong> <a href="mailto:anniechristijakkula45@gmail.com"> anniechristijakkula45@gmail.com</a></p>
        <p><strong>Phone:</strong> <a href="tel:+917093735342"> +91-7093735342</a></p>
        <h5>NITHIN KUMAR.G</h5>
        <p><strong>Email:</strong><a href="mailto:nithingedda45@gmail.com"> nithingedda45@gmail.com</a></p>
        <p><strong>Phone:</strong><a href="tel:+916304942247"> +91-6304942247</a></p>
        <h5>RITHVIK VARMA.V</h5>
        <p><strong>Email:</strong> <a href="mailto:rithvikvarma.vudimudi@gmail.com">rithvikvarma.vudimudi@gmail.com</a></p>
        <p><strong>Phone:</strong> <a href="tel:+917386330510">+91-7386330510</a></p>
        <p style="font-size: 25px; text-align: center; color: black; padding-top: 65px;">Thank You!</p>
      </div>
    </div>
  </div>
