<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1850">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a  routerLink="/mncsingup">
        <img src="../../assets/img/mnc img.png" class="d-block w-100" alt="MNC">
      </a>
      <div class="carousel-caption d-none d-md-block">
        <h2 style="color: black;border: 2px #ffff;" routerLink="/mncsingup">MNC's</h2>
        <p style="color: red; font-size:25px;" routerLink="/mncsingup">Click here and Get in touch with STARTUP's</p>
      </div>
    </div>
    <div class="carousel-item" routerLink="startsignup">
      <a routerLink="/startsignup">
        <img src="../../assets/img/start img.png" class="d-block w-100" alt="START UP">
      </a>
      <div class="carousel-caption d-none d-md-block">
        <h2 routerLink="/startsignup">STARTUP's</h2>
        <p style="color: red; font-size:25px;" routerLink="/startsignup">Click here and connect with MNC's and Get in touch with Freelancer's</p>
      </div>
    </div>
    <div class="carousel-item" >
      <a routerLink="/freesignup">
        <img src="../../assets/img/free img.png" class="d-block w-100" alt="FREELANCE">
      </a>
      <div class="carousel-caption d-none d-md-block">
        <h2 routerLink="/freesignup">FREELANCER's</h2>
        <p style="color: red;font-size: 25px;" routerLink="/freesignup">Click here and build your carrer with Projects...</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<app-footer></app-footer>