<div style="position: relative;">
    <img src="../../assets/img/FREELANCE.png" alt="img" style="max-width: 100%; height: 50rem;">
    <div style="position: absolute; top: 0; left: 0;">
      <img src="../../assets/img/logo.png" routerLink="/about" class="x" alt="">
    </div>
    <div class="h" style="cursor: pointer;" routerLink="/home">
      <p>Home</p>
    </div>
    <div class="h1" style="cursor: pointer;" routerLink="/about">
      <p>About Us</p>
    </div>
    <div class="h2" style="cursor: pointer;" routerLink="/contact">
      <p>Contact Us</p>
    </div>
    <div class="h3" style="cursor: pointer;" routerLink="/home">
      <p>Log Out</p>
    </div>
    <div style="position: absolute; top: 200px; left: 16px; ">
        <div class="dropdown">
            <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="m">Post Project</span>
            </button>
            <ul class="dropdown-menu">
              <li><button class="v dropdown-item" type="button" routerLink="/upload">Upload Project</button></li>
            </ul>
          </div>
    </div>
    <div style="position: absolute; top: 290px; left: 16px; ">
        <div class="dropdown">
            <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="m">Notification</span>             
            </button>
            <ul class="dropdown-menu">
              <li><button class="v dropdown-item" type="button">Accept</button></li>
              <li><button class="v dropdown-item" type="button">Reject</button></li>
            </ul>
          </div>
    </div>
    <div style="position: absolute; top: 380px; left: 16px; ">
      <div class="dropdown">
        <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false"  routerLink="/payment"><span class="n">Payment</span>             
        </button>
      </div>
   </div>